<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Login</title>
</head>
<body>

  <div class="container">

    <form class="card" action="{{ url_for('login_bp.login_submit') }}" method="post">
      <h1 class="title">UfoodRest</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert">
            {% for m in messages %}
              <p>{{ m }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <input class="input" type="email" name="email" placeholder="Correo" required>
      <input class="input" type="password" name="password" placeholder="Contraseña" required>

      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% endif %}

      <button class="btn" type="submit">Iniciar sesión</button>

      <p class="text">
        ¿No tienes cuenta?
        <a class="link" href="{{ url_for('login_bp.register') }}">Regístrate</a>
      </p>

      <p class="text">
        ¿Olvidaste tu contraseña?
        <a class="link" href="{{ url_for('login_bp.reset_password') }}">Recupérala aquí</a>
      </p>

    </form>

  </div>

</body>
</html>
